
.espace-page {
  min-height: 100vh;
  padding: 40px;
  text-align: center;

  background: rgb(119, 132, 149); 
  font-family: "Poppins", sans-serif;
}

/* TITLE */
.espace-page h1 {
  color: #2a3245 ;
  margin-bottom: 30px;
  font-size: xx-large;
}

/* GRID */
.espace-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */
.espace-card {
  background: rgba(255,255,255,0.05);
  border-radius: 15px;
  overflow: hidden;

  border: 1px solid #2a3245;
  transition: 0.3s;
}

/* HOVER */
.espace-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

/* IMAGE */
.espace-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

/* CONTENT */
.card-content {
  padding: 15px;
}

/* TITLE */
.card-content h3 {
  color: #c8a97e;
  margin-bottom: 10px;
  font-size: x-large;
}

/* TEXT */
.card-content p {
  color: #cbd5e1;
  font-size: 14px;
  margin-bottom: 15px;
}

/* BUTTON */
.card-content button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;

  background: #c8a97e;
  color: #0f172a;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

/* HOVER BUTTON */
.card-content button:hover {
  background: #b89465;
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .espace-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .espace-container {
    grid-template-columns: 1fr;
  }
}



.price {
  display: block;
  margin-top: 8px;
  margin-bottom: 12px;

  color: #2b374f;
  font-family:"Inter", sans-serif;
  font-weight: bold;
  font-size: 16px;
}



/* MOBILE (max 768px) */

@media (max-width: 768px) {

  /* NAVBAR */
  .navbar {
    flex-direction: column;
    padding: 15px;
    gap: 10px;
  }

  .menu {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  /* HERO */
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .hero-img {
    width: 100%;
    height: 200px;
  }

  /* GRID / CARDS */
  .grid,
  .offre-container,
  .avantages-grid,
  .abonnement-grid {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card,
  .offre-card,
  .abonnement-card {
    width: 90%;
  }

  /* TABLE */
  table {
    font-size: 12px;
  }

  th, td {
    padding: 8px;
  }

  /* SEARCH */
  .search {
    width: 100%;
  }

}



/*  TABLET (max 1024px) */

@media (max-width: 1024px) {

  .grid,
  .offre-container,
  .abonnement-grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card,
  .offre-card {
    width: 45%;
  }

  .hero-img {
    width: 350px;
    height: 220px;
  }

}



/*  SMALL LAPTOP */

@media (max-width: 1200px) {

  .hero {
    gap: 30px;
  }

  .menu {
    gap: 40px;
  }

}