.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #F9EEDA, #fff);
    padding: 20px;
}

.container {
    text-align: center;
    width: 350px;
    padding: 40px 35px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 18px;
    border: 1px solid rgba(64, 78, 104, 0.2);
    box-shadow: 0 12px 35px rgba(64, 78, 104, 0.18);
}

.icon {
    font-size: 70px;
    color: #404E68;
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #404E68;
    background: transparent;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-bottom: 2px solid #2d394f;
    transform: scale(1.01);
}

.options {
    margin-top: 13px;
    text-align: right;
    font-size: 13px;
    color: #9A9A9A;
}

.options a {
    color: #404E68;
    font-weight: 500;
}

.btn {
    margin-top: 25px;
    width: 100%;
    padding: 13px;
    background: #404E68;
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    box-shadow: 0 6px 15px rgba(64, 78, 104, 0.25);
}

.btn:hover {
    background: #2d394f;
    transform: translateY(-2px);
}

.register {
    margin-top: 25px;
    font-size: 14px;
    color: #9A9A9A;
}

.register a {
    color: #404E68;
    font-weight: 600;
}



 /* Sous-titre plus petit que H2 */

h3 {
    font-size: 30px;                        /* Sous-titre plus petit que H2 */
    font-family: "Playfair Display";  
    color: #404E68;                         
    font-weight: 600;                        /* Semi-bold pour élégance */
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    text-transform: capitalize;

    position: relative;
    display: inline-block;

    transition: all 0.3s ease;
}

